/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

body{
	background-image: url('../images/paperbackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height:  100vh;
	background-attachment:fixed;
}




/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/



/* This uses the same value as --size-xs. */

h1 {
	font-size: 18px;
}
.subtitle {
	font-size: 15px;
}
p, h3 {
	font-size: 10px;
	line-height: 20px;
}
.introduction-more a,
.demonstration-introduce,
.demonstration-info a,
.history-more a,
.show-image a,
.water-more a {
	font-size: 8px;
	line-height: 25px;
}
.demonstration-info p {
	font-size: 14px;
	margin: 5% 0;
	line-height: 25px;
}
.history-more a {
	margin-bottom: 9%;
}
.water-content p {
	font-size: 10px;
}
.water-tip {
	font-size: 7px;
}
.arrow {
	width: 20px;
}
.show-list .water-img {
	width: 30%;
}
.adjust2 {
	margin-bottom: 3%;
}
.adjust1{
	margin-bottom: 2%;
}
.introduction-more {
	flex-direction: column;
	align-items: flex-start;
}
.introduction-more a {
	width: 60%;
	margin-top: 3%;
}
.show-image img {
	width: 60%;
}


@media screen and (min-width: 768px) {
	h1 {
	  font-size: 45px;
	}
	.subtitle {
		font-size: 33px;
	}
	p, h3 {
	  font-size: 20px;
	  line-height: 50px;
	}
	.introduction-more a,
	.demonstration-introduce,
	.demonstration-info a,
	.history-more a,
	.show-image a,
	.water-more a {
	  font-size: 15px;
	  line-height: 70px;
	}
	.demonstration-info p {
	  font-size: 30px;
	  margin: 5% 0;
	  line-height: 70px;
	}
	.history-more a {
	  margin-bottom: 4%;
	}
	.water-content p {
	  font-size: 30px;
	}
	.water-tip {
	  font-size: 15px;
	}
	.arrow {
	  width: 40px;
	}
	.show-list .water-img {
	  width: 30%;
	}
	.introduction-more {
	  flex-direction: row;
	  align-items: align-items;
	}
	.introduction-more a {
	  width: 48%;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
	  font-size: 64px;
	}
	.subtitle {
		font-size: 45px;
	}
	p, h3 {
	  font-size: 25px;
	  line-height: 50px;
	}
	.introduction-more a,
	.demonstration-introduce,
	.demonstration-info a,
	.history-more a,
	.show-image a,
	.water-more a {
	  font-size: 25px;
	  line-height: 78px;
	}
	.demonstration-info p {
	  font-size: 55px;
	  margin: 3% 0;
	  line-height: 78px;
	}
	.history-more a {
	  margin-bottom: 2%;
	}
	.water-content p {
	  font-size: 40px;
	}
	.water-tip {
	  font-size: 25px;
	}
	.arrow {
	  width: 50px;
	}
	.introduction-more {
	  flex-direction: row;
	  align-items: align-items;
	}
	.introduction-more a {
	  width: 46%;
	}
	.show-image img {
	  width: auto;
	}
	.adjust1 {
	  margin-bottom: 30px;
	}
	.adjust2 {
	  margin-bottom: 30px;
	}
	.show-list .water-img {
	  width: auto;
	}
}

/* introduction start */
.content-container {
	width: 96%;
	margin: 0 auto;
	padding: 2% 0;
	min-width: 320px;
}
h1 {
	text-align: center;
	font-family: "Lora", serif;
	font-weight: 700;
	font-style: normal;
}
p {
	font-family: "Lora", serif;
	font-weight: 400;
	font-style: normal;
	
}
h3 {
	font-family: "Lora", serif;
	font-weight: 700;
	font-style: normal;
}
.introduction-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.introduction-more a {
	display: block;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: 700;
	border-radius: 40px;
	transition: all 0.3s;
}
.introduction-more a:hover {
	background: #000;
	color: #fff;
}
/* introduction end */

/* demonstration start */
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.demonstration-introduce {
	display: inline-block;
	padding: 0 4%;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-radius: 40px;
}
.demonstration-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}
.demonstration-info p {
	width: 50%;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	
}
.demonstration-info p:nth-of-type(2) {
	cursor: pointer;
}
.demonstration-info a {
	width: 40%;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-radius: 40px;
	transition: all 0.3s;
}
.demonstration-info a:hover {
	background: #000;
	color: #fff;
}
/* demonstration end */

/* history start */
.history-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.history-more a {
	width: 30%;
	display: inline-block;
	display: block;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-radius: 40px;
	transition: all 0.3s;
}
.history-more a:hover {
	background: #000;
	color: #fff;
}
/* history end */

/* Six Script starts */
h1 {
	font-family: "Lora", serif;
	font-weight: bold;
}
.show-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.show-image a {
	margin-top: 2%;
	width: 30%;
	display: inline-block;
	display: block;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-radius: 40px;
	transition: all 0.3s;
}
.show-image a:hover {
	background: #000;
	color: #fff;
}
/* Six Scripts end */

/* water start */
.water-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.water-more a {
	margin-top: 2%;
	width: 30%;
	display: inline-block;
	display: block;
	background-color: #fff;
	text-align: center;
	font-family: "Lora", serif;
	font-weight: bold;
	border-radius: 40px;
	transition: all 0.3s;
}
.water-more a:hover {
	background: #000;
	color: #fff;
}
.water-tip, .water-content p {
	font-family: "Lora", serif;
	font-weight: bold;
}
.water-content {
	text-align: center;
}
.show-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.show-list.active {
	margin-left: -16%;
}
.arrow {
	cursor: pointer;
}
.show-list .water-img {
	margin: 0 2%;
}
/* water end */  
